input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}


#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}



/* Style for ETH Image Text */

#ETHTextOverlay {

    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    display: inline-block;
    z-index: 3;
    right: 0;
    bottom: 0;
    text-align: right;
    font-family: Raleway;
    font-size: 30px;
    color: white;

  }